.room
  min-height: calc(100vh - 48px*2)
  .container
    height: calc(100vh - 48px*2)

.total-members
  font-size: 14px
  font-weight: 400
  line-height: 1
  color: #D6D6D6
  margin-bottom: 10px


.room-create-form,
.room-create-name-form
  height: 100%
  grid-template-rows: auto 1fr auto

.add-members,
.members
  &__list
    width: 100%
    height: auto
    max-height: 382px
    margin: 0
    display: grid
    align-content: start
    gap: 18px
    overflow-y: auto
  &__item
    .member-check
      width: 100%
      height: auto
      min-height: 62px
      display: flex
      cursor: pointer
      position: relative
      -webkit-tap-highlight-color: transparent !important
      outline: none !important
      input[type='checkbox']
        &+span
          width: 24px
          height: 24px
          background: #fff
          border: 1px solid #AEAEB2
          border-radius: 50%
          transition: .2s
          position: absolute
          top: 50%
          right: 20px
          transform: translateY(-50%)
        &:checked + span:before
          width: 8px
          height: 12px
          top: 7px
        &:checked + span + .member,
        &:hover + span + .member
          transition: .3s
          background: #F8F8F8
          .member__name
            color: #000
        &:disabled + span:before
          width: 8px
          height: 12px
          top: 7px
          border-right: 2px solid #fff
          border-bottom: 2px solid #fff

.member
  width: 100%
  height: auto
  min-height: 62px
  padding: 7px 6px
  display: grid
  align-items: center
  justify-content: start
  grid-template-areas: 'foto name' 'foto tel'
  gap: 0 12px
  line-height: 1
  border-radius: 12px
  &:hover
    transition: .3s
    background: #F8F8F8
    .member__name
      color: #000
  &__foto
    width: 48px
    height: 48px
    border-radius: 50%
    background: #6C9BFF
    display: flex
    align-items: center
    justify-content: center
    font-size: 18px
    font-weight: 800
    line-height: 1
    grid-area: foto
    color: #fff
    img
      width: auto
      height: 100%
      object-fit: cover
    .letter
      display: flex
      align-items: center
      justify-content: center
      line-height: 1
  &__name
    font-size: 14px
    font-weight: 600
    color: #7B7B7B
    transition: .3s
    grid-area: name
  &__tel
    font-size: 14px
    font-weight: normal
    color: #71717B
    grid-area: tel


.room-create-name
  .room__header
    margin-bottom: 10px
  .member
    transition: .3s
    background: #F8F8F8
    .member__name
      color: #000
  .member-check
    cursor: default
    input[type='checkbox']
      &+span
        display: none

.input-group
  display: flex
  gap: 10px

.file
  width: 80px
  height: 80px
  background: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='80' rx='11.7' fill='%23C4C4C4' fill-opacity='0.35'/%3E%3Cpath d='M39.9637 45.0203C42.3147 45.0203 44.2206 43.1144 44.2206 40.7634C44.2206 38.4124 42.3147 36.5065 39.9637 36.5065C37.6127 36.5065 35.7068 38.4124 35.7068 40.7634C35.7068 43.1144 37.6127 45.0203 39.9637 45.0203Z' fill='%23C2C9D1' fill-opacity='0.41'/%3E%3Cpath d='M35.9729 27.4606L33.5385 30.1211H29.3215C27.8581 30.1211 26.6609 31.3184 26.6609 32.7817V48.7451C26.6609 50.2084 27.8581 51.4057 29.3215 51.4057H50.606C52.0693 51.4057 53.2666 50.2084 53.2666 48.7451V32.7817C53.2666 31.3184 52.0693 30.1211 50.606 30.1211H46.389L43.9546 27.4606H35.9729ZM39.9637 47.4148C36.2921 47.4148 33.3123 44.435 33.3123 40.7634C33.3123 37.0918 36.2921 34.112 39.9637 34.112C43.6353 34.112 46.6152 37.0918 46.6152 40.7634C46.6152 44.435 43.6353 47.4148 39.9637 47.4148Z' fill='%23C2C9D1' fill-opacity='0.41'/%3E%3C/svg%3E%0A") no-repeat
  border-radius: 12px
  flex-shrink: 0
  overflow: hidden
  label
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    position: relative
    img
      width: 100%
      height: 100%
      object-fit: cover
      z-index: 1
  input
    width: 100%
    height: 100%
    visibility: hidden
    position: absolute

.room-name
  label
    height: 100%
    display: grid
    align-content: space-between
  span
    margin-left: 16px
    font-size: 14px
    line-height: 1
    color: #000000





// popup

.popup-invite
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  bottom: -150%
  background: rgba(0, 0, 0, 0.12)
  opacity: 0
  visibility: none
  z-index: -9999
  transition: .5s
  &.open
    opacity: 1
    visibility: visible
    z-index: 9999
    transition: .2s
    .popup__box
      bottom: 0
  .popup__box
    width: 100%
    height: auto
    max-width: 377px
    max-height: 628px
    padding: 50px 25px
    background: #FFFFFF
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.01)
    border-radius: 30px 30px 0px 0px
    position: absolute
    left: 50%
    bottom: -100%
    transform: translateX(-50%)
    transition: .3s
    &::before
      content: ''
      position: absolute
      width: 42px
      height: 6px
      left: 50%
      top: 20px
      transform: translateX(-50%)
      background: #F5F5F5
      border-radius: 40px
  .popup__content
    display: grid
    justify-items: center
  .title
    font-size: 26px
    font-weight: bold
    line-height: 1.3
    text-align: center
    color: #000000
  .qr-code
    width: 100%
    height: 100%
    max-width: 240px
    max-height: 240px
    padding: 16px
    margin: 12px 0
    display: flex
    align-items: center
    justify-content: center
    background: url("data:image/svg+xml,%3Csvg width='240' height='240' viewBox='0 0 240 240' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_211_8948)'%3E%3Cpath d='M4.49891 54.2324C4.49891 41.6643 4.49891 28.924 4.49891 16.3558C4.49891 12.9125 5.01802 9.46916 7.44051 6.71449C10.2091 3.6155 13.8428 2.41033 17.8226 2.41033C24.744 2.41033 31.6655 2.41033 38.5869 2.41033C44.9892 2.41033 51.3915 2.41033 57.9668 2.41033C59.5241 2.41033 59.5241 0 57.9668 0C44.8161 0 31.6655 0 18.3417 0C14.881 0 11.7664 0.516499 8.82479 2.41033C4.67195 5.16499 2.24945 9.81349 2.07642 14.8063C1.90338 21.0043 2.07642 27.2023 2.07642 33.5725C2.07642 40.4591 2.07642 47.3458 2.07642 54.2324C2.07642 55.7819 4.49891 55.7819 4.49891 54.2324Z' fill='%234276FF'/%3E%3Cpath d='M54.5061 237.59C41.8745 237.59 29.0699 237.59 16.4384 237.59C12.9776 237.59 9.51694 237.073 6.74838 234.663C3.63374 231.908 2.42249 228.293 2.42249 224.333C2.42249 217.446 2.42249 210.56 2.42249 203.673C2.42249 197.303 2.42249 190.933 2.42249 184.39C2.42249 182.841 0 182.841 0 184.39C0 197.475 0 210.56 0 223.816C0 227.26 0.519106 230.359 2.42249 233.285C5.19106 237.59 9.86301 239.828 14.881 240C21.1103 240.172 27.3396 240 33.7419 240C40.6633 240 47.5847 240 54.5061 240C56.0634 240 56.0634 237.59 54.5061 237.59Z' fill='%234276FF'/%3E%3Cpath d='M237.578 184.046C237.578 196.614 237.578 209.354 237.578 221.922C237.578 225.366 237.058 228.809 234.636 231.564C231.867 234.663 228.234 235.868 224.254 235.868C217.332 235.868 210.411 235.868 203.49 235.868C197.087 235.868 190.685 235.868 184.11 235.868C182.552 235.868 182.552 238.278 184.11 238.278C197.26 238.278 210.411 238.278 223.735 238.278C227.195 238.278 230.31 237.762 233.252 235.868C237.578 233.113 239.827 228.465 240 223.472C240.173 217.274 240 211.076 240 204.706C240 197.819 240 190.932 240 184.046C240 182.496 237.578 182.496 237.578 184.046Z' fill='%234276FF'/%3E%3Cpath d='M184.802 2.41031C197.433 2.41031 210.238 2.41031 222.87 2.41031C226.33 2.41031 229.791 2.92681 232.56 5.33714C235.674 8.0918 236.885 11.7073 236.885 15.6671C236.885 22.5538 236.885 29.4404 236.885 36.3271C236.885 42.6973 236.885 49.0674 236.885 55.6097C236.885 57.1592 239.308 57.1592 239.308 55.6097C239.308 42.5251 239.308 29.4404 239.308 16.1836C239.308 12.7403 238.789 9.6413 236.885 6.71447C234.117 2.41031 229.445 0.172147 224.427 -1.9665e-05C218.198 -0.172186 211.968 -1.9665e-05 205.566 -1.9665e-05C198.645 -1.9665e-05 191.723 -1.9665e-05 184.802 -1.9665e-05C183.244 -1.9665e-05 183.244 2.41031 184.802 2.41031Z' fill='%234276FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_211_8948'%3E%3Crect width='240' height='240' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat

  .qr-container
    width: 100%
    height: 100%
    max-width: 207px
    height: 207px
    svg
      width: 100%
      height: 100%

  .subtitle
    margin-bottom: 8px
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    text-align: center
    color: #000000
  .description
    width: 60%
    margin: 0
    text-align: center
    font-size: 10px
    line-height: 1.5
    text-align: center
    color: #71717B

  .share-links
    width: 100%
    margin: 20px 0 29px
    display: flex
    align-items: center
    justify-content: space-between
    gap: 10px
    .share-links-btn
      width: auto
      height: auto
      max-width: 154px
      min-height: 68px
      flex-basis: 154px
      padding: 11px
      padding-left: 71px
      display: flex
      align-items: center
      text-align: left
      font-weight: 600
      font-size: 18px
      color: #000
      background: #f5f5f5
      border-radius: 12px
      position: relative
      &::before
        content: ''
        width: 46px
        height: 46px
        position: absolute
        top: 50%
        left: 11px
        transform: translateY(-50%)
    .share
      &::before
        background: url("data:image/svg+xml,%3Csvg width='47' height='46' viewBox='0 0 47 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_911_7054)'%3E%3Crect x='0.922607' y='-6.10352e-05' width='46' height='46' rx='12' fill='%238B9CCB'/%3E%3Cpath d='M29.9226 27.08C29.1626 27.08 28.4826 27.38 27.9626 27.85L20.8326 23.7C20.8826 23.47 20.9226 23.24 20.9226 23C20.9226 22.76 20.8826 22.53 20.8326 22.3L27.8826 18.19C28.4226 18.69 29.1326 19 29.9226 19C31.5826 19 32.9226 17.66 32.9226 16C32.9226 14.34 31.5826 13 29.9226 13C28.2626 13 26.9226 14.34 26.9226 16C26.9226 16.24 26.9626 16.47 27.0126 16.7L19.9626 20.81C19.4226 20.31 18.7126 20 17.9226 20C16.2626 20 14.9226 21.34 14.9226 23C14.9226 24.66 16.2626 26 17.9226 26C18.7126 26 19.4226 25.69 19.9626 25.19L27.0826 29.35C27.0326 29.56 27.0026 29.78 27.0026 30C27.0026 31.61 28.3126 32.92 29.9226 32.92C31.5326 32.92 32.8426 31.61 32.8426 30C32.8426 28.39 31.5326 27.08 29.9226 27.08Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_911_7054'%3E%3Cpath d='M0.922607 12C0.922607 5.37258 6.29519 0 12.9226 0L34.6258 0C41.2533 0 46.6258 5.37258 46.6258 12V34C46.6258 40.6274 41.2532 46 34.6258 46H12.9226C6.29518 46 0.922607 40.6274 0.922607 34V12Z' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat
    .invite-link
      &::before
        background: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.000244141 12C-0.000244141 5.37258 5.37234 0 11.9998 0L33.703 0C40.3304 0 45.703 5.37258 45.703 12V34C45.703 40.6274 40.3304 46 33.703 46H11.9998C5.37233 46 -0.000244141 40.6274 -0.000244141 34L-0.000244141 12Z' fill='%23FFAD80'/%3E%3Cpath d='M15.7597 21.59C16.0249 21.6245 16.2929 21.5522 16.5048 21.389C16.7167 21.2259 16.8552 20.9852 16.8897 20.72C16.9241 20.4548 16.8518 20.1867 16.6887 19.9748C16.5255 19.7629 16.2849 19.6245 16.0197 19.59L14.2597 19.15C14.1313 19.1107 13.9964 19.0976 13.8629 19.1115C13.7294 19.1254 13.6001 19.166 13.4827 19.231C13.3652 19.2959 13.2621 19.3838 13.1793 19.4895C13.0965 19.5951 13.0359 19.7163 13.001 19.8459C12.9661 19.9755 12.9576 20.1108 12.9761 20.2437C12.9945 20.3767 13.0396 20.5045 13.1085 20.6197C13.1774 20.7348 13.2688 20.8349 13.3773 20.914C13.4857 20.9931 13.6089 21.0496 13.7397 21.08L15.4997 21.55C15.5834 21.578 15.6713 21.5915 15.7597 21.59ZM19.6197 16C19.6783 16.2182 19.809 16.4101 19.9906 16.5444C20.1722 16.6788 20.3939 16.7477 20.6197 16.74C20.7058 16.7538 20.7935 16.7538 20.8797 16.74C21.1335 16.6698 21.3493 16.5023 21.4804 16.2739C21.6115 16.0455 21.6471 15.7746 21.5797 15.52L21.1097 13.76C21.0792 13.6293 21.0227 13.5061 20.9437 13.3976C20.8646 13.2892 20.7645 13.1978 20.6493 13.1289C20.5342 13.0599 20.4063 13.0149 20.2734 12.9964C20.1405 12.978 20.0052 12.9864 19.8756 13.0213C19.746 13.0563 19.6248 13.1169 19.5191 13.1997C19.4135 13.2824 19.3255 13.3856 19.2606 13.503C19.1957 13.6205 19.155 13.7498 19.1411 13.8833C19.1272 14.0168 19.1403 14.1517 19.1797 14.28L19.6197 16ZM24.4497 26C24.3562 25.9017 24.2438 25.8234 24.1191 25.7699C23.9945 25.7163 23.8603 25.6888 23.7247 25.6888C23.589 25.6888 23.4548 25.7163 23.3302 25.7699C23.2055 25.8234 23.0931 25.9017 22.9997 26L19.4997 29.56C19.0881 29.9548 18.5399 30.1753 17.9697 30.1753C17.3994 30.1753 16.8512 29.9548 16.4397 29.56C16.2371 29.36 16.0762 29.1218 15.9665 28.8591C15.8567 28.5965 15.8001 28.3147 15.8001 28.03C15.8001 27.7453 15.8567 27.4635 15.9665 27.2009C16.0762 26.9382 16.2371 26.7 16.4397 26.5L19.9997 23C20.1043 22.9104 20.1894 22.8 20.2494 22.676C20.3094 22.5519 20.3431 22.4168 20.3484 22.2791C20.3538 22.1413 20.3306 22.004 20.2803 21.8757C20.23 21.7474 20.1538 21.6308 20.0563 21.5334C19.9588 21.4359 19.8423 21.3596 19.714 21.3094C19.5856 21.2591 19.4483 21.2359 19.3106 21.2412C19.1729 21.2465 19.0377 21.2803 18.9137 21.3403C18.7896 21.4003 18.6793 21.4853 18.5897 21.59L14.9997 25.08C14.6109 25.4687 14.3026 25.9302 14.0922 26.4381C13.8819 26.9459 13.7736 27.4903 13.7736 28.04C13.7736 28.5897 13.8819 29.1341 14.0922 29.6419C14.3026 30.1498 14.6109 30.6113 14.9997 31C15.3884 31.3887 15.8498 31.6971 16.3577 31.9074C16.8656 32.1178 17.4099 32.2261 17.9597 32.2261C18.5094 32.2261 19.0537 32.1178 19.5616 31.9074C20.0695 31.6971 20.5309 31.3887 20.9197 31L24.4497 27.47C24.5512 27.3764 24.6322 27.2627 24.6876 27.1362C24.743 27.0097 24.7716 26.8731 24.7716 26.735C24.7716 26.5969 24.743 26.4603 24.6876 26.3338C24.6322 26.2073 24.5512 26.0936 24.4497 26ZM16.1797 17.59C16.3659 17.7748 16.6173 17.8789 16.8797 17.88C17.0113 17.8808 17.1417 17.8555 17.2636 17.8058C17.3854 17.756 17.4962 17.6827 17.5897 17.59C17.7759 17.4026 17.8804 17.1492 17.8804 16.885C17.8804 16.6208 17.7759 16.3674 17.5897 16.18L16.2997 14.89C16.1083 14.7262 15.8623 14.6406 15.6106 14.6503C15.3589 14.66 15.1202 14.7643 14.9421 14.9424C14.764 15.1205 14.6597 15.3593 14.6499 15.611C14.6402 15.8626 14.7258 16.1087 14.8897 16.3L16.1797 17.59ZM32.2597 24.92L30.4997 24.45C30.3692 24.4049 30.2309 24.3873 30.0933 24.3983C29.9558 24.4093 29.822 24.4487 29.7004 24.5139C29.5787 24.5791 29.4719 24.6688 29.3867 24.7773C29.3014 24.8858 29.2395 25.0108 29.2049 25.1444C29.1703 25.2779 29.1637 25.4172 29.1856 25.5535C29.2074 25.6898 29.2573 25.82 29.3319 25.9361C29.4066 26.0521 29.5044 26.1515 29.6193 26.2279C29.7343 26.3043 29.8637 26.3561 29.9997 26.38L31.7597 26.85H32.0197C32.2849 26.8845 32.5529 26.8122 32.7648 26.649C32.9767 26.4859 33.1152 26.2452 33.1497 25.98C33.1841 25.7148 33.1118 25.4467 32.9487 25.2348C32.7855 25.0229 32.5449 24.8845 32.2797 24.85L32.2597 24.92ZM26.3797 30C26.3449 29.8732 26.2856 29.7545 26.2049 29.6507C26.1243 29.5469 26.024 29.46 25.9098 29.395C25.7955 29.33 25.6696 29.2881 25.5392 29.2718C25.4087 29.2555 25.2764 29.2651 25.1497 29.3C24.8958 29.3702 24.68 29.5377 24.5489 29.7661C24.4178 29.9946 24.3822 30.2654 24.4497 30.52L24.9197 32.28C24.9783 32.4982 25.109 32.6901 25.2906 32.8244C25.4722 32.9588 25.6939 33.0277 25.9197 33.02C26.006 33.0298 26.0933 33.0298 26.1797 33.02C26.3073 32.9864 26.4271 32.9278 26.532 32.8476C26.6369 32.7674 26.7249 32.6673 26.7909 32.5529C26.8569 32.4386 26.8996 32.3123 26.9166 32.1813C26.9335 32.0504 26.9244 31.9174 26.8897 31.79L26.3797 30ZM29.8197 28.43C29.6283 28.2662 29.3823 28.1806 29.1306 28.1903C28.8789 28.2 28.6402 28.3043 28.4621 28.4824C28.284 28.6605 28.1797 28.8993 28.1699 29.151C28.1602 29.4026 28.2458 29.6487 28.4097 29.84L29.6997 31.13C29.887 31.3163 30.1405 31.4208 30.4047 31.4208C30.6688 31.4208 30.9223 31.3163 31.1097 31.13C31.2959 30.9426 31.4004 30.6892 31.4004 30.425C31.4004 30.1608 31.2959 29.9074 31.1097 29.72L29.8197 28.43ZM32.1997 18C32.2152 17.1684 31.9811 16.3513 31.5276 15.6541C31.0742 14.9569 30.4221 14.4116 29.6557 14.0887C28.8892 13.7657 28.0436 13.68 27.2279 13.8424C26.4122 14.0048 25.6639 14.4081 25.0797 15L21.5497 18.56C21.4551 18.6552 21.3802 18.7681 21.3293 18.8923C21.2784 19.0164 21.2524 19.1494 21.2529 19.2835C21.2533 19.4177 21.2802 19.5505 21.332 19.6743C21.3838 19.7981 21.4594 19.9105 21.5547 20.005C21.6499 20.0996 21.7628 20.1744 21.8869 20.2254C22.011 20.2763 22.144 20.3022 22.2782 20.3018C22.4124 20.3013 22.5451 20.2744 22.6689 20.2226C22.7927 20.1709 22.9051 20.0952 22.9997 20L26.4997 16.44C26.9112 16.0452 27.4594 15.8247 28.0297 15.8247C28.5999 15.8247 29.1481 16.0452 29.5597 16.44C29.7622 16.64 29.9231 16.8782 30.0328 17.1409C30.1426 17.4035 30.1992 17.6853 30.1992 17.97C30.1992 18.2547 30.1426 18.5365 30.0328 18.7991C29.9231 19.0618 29.7622 19.3 29.5597 19.5L25.9997 23C25.8134 23.1874 25.7089 23.4408 25.7089 23.705C25.7089 23.9692 25.8134 24.2226 25.9997 24.41C26.187 24.5963 26.4405 24.7008 26.7047 24.7008C26.9688 24.7008 27.2223 24.5963 27.4097 24.41L30.9997 20.92C31.7651 20.1404 32.1957 19.0926 32.1997 18Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat

  .btn