.room
  // min-height: calc(100vh - 48px*2)
  .container
    max-width: calc(327px + 50px)
    min-height: 100vh
    padding: 48px 25px
    margin: 0 auto
    display: grid
    gap: 20px
    align-content: start
    position: relative
    form
      padding-bottom: 72px
      .btn
        width: calc(100% - 50px)
        position: absolute
        bottom: 50px

.total-members
  font-size: 14px
  font-weight: 400
  line-height: 1
  color: #D6D6D6
  margin-bottom: 10px

.room-create-form,
.room-create-name-form
  height: 100%
  // grid-template-rows: auto 1fr auto
  // .search
  //   label
  //     width: 100%
  //     padding: 16px
  //     background: #F5F5F5
  //     border-radius: 12px
  //     border: 1px solid transparent
  //     input
  //       padding: 0
  //       background: none
  //       border: none

.add-members,
.members
  &__list
    width: 100%
    height: 382px
    // min-height: 382px
    margin: 0
    display: grid
    align-content: start
    gap: 18px
    overflow-y: auto
  &__item
    .member-check
      width: 100%
      height: auto
      min-height: 62px
      display: flex
      cursor: pointer
      position: relative
      -webkit-tap-highlight-color: transparent !important
      outline: none !important
      input[type='checkbox']
        &+span
          width: 24px
          height: 24px
          background: #fff
          border: 1px solid #AEAEB2
          border-radius: 50%
          transition: .2s
          position: absolute
          top: 50%
          right: 20px
          transform: translateY(-50%)
        &:checked + span:before
          width: 8px
          height: 12px
          top: 7px
        &:checked + span + .member,
        &:hover + span + .member
          transition: .3s
          background: #F8F8F8
          .member__name
            color: #000
        &:disabled + span:before
          width: 8px
          height: 12px
          top: 7px
          border-right: 2px solid #fff
          border-bottom: 2px solid #fff

.member
  width: 100%
  height: auto
  min-height: 62px
  padding: 7px 6px
  display: grid
  align-items: center
  justify-content: start
  grid-template-areas: 'foto name' 'foto tel'
  gap: 0 12px
  line-height: 1
  border-radius: 12px
  transition: .3s
  &:hover
    transition: .3s
    background: #F8F8F8
    .member__name
      color: #000
  &__foto
    width: 48px
    height: 48px
    border-radius: 50%
    background: #6C9BFF
    display: flex
    align-items: center
    justify-content: center
    font-size: 18px
    font-weight: 800
    line-height: 1
    grid-area: foto
    color: #fff
    overflow: hidden
    position: relative
    img
      width: 100%
      height: 100%
      object-fit: cover
      z-index: 1
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    .letter
      display: flex
      align-items: center
      justify-content: center
      line-height: 1
  &__name
    font-size: 14px
    font-weight: 600
    color: #7B7B7B
    transition: .3s
    grid-area: name
  &__tel
    font-size: 14px
    font-weight: normal
    color: #71717B
    grid-area: tel


.room-create-name
  .room__header
    margin-bottom: 10px
  .member
    background: #F8F8F8
    .member__name
      color: #000
  .member-check
    cursor: default
    input[type='checkbox']
      &+span
        display: none

.input-group
  width: 100%
  height: 80px
  display: flex
  gap: 10px

.file
  width: 80px
  height: 80px
  background: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='80' rx='11.7' fill='%23C4C4C4' fill-opacity='0.35'/%3E%3Cpath d='M39.9637 45.0203C42.3147 45.0203 44.2206 43.1144 44.2206 40.7634C44.2206 38.4124 42.3147 36.5065 39.9637 36.5065C37.6127 36.5065 35.7068 38.4124 35.7068 40.7634C35.7068 43.1144 37.6127 45.0203 39.9637 45.0203Z' fill='%23C2C9D1' fill-opacity='0.41'/%3E%3Cpath d='M35.9729 27.4606L33.5385 30.1211H29.3215C27.8581 30.1211 26.6609 31.3184 26.6609 32.7817V48.7451C26.6609 50.2084 27.8581 51.4057 29.3215 51.4057H50.606C52.0693 51.4057 53.2666 50.2084 53.2666 48.7451V32.7817C53.2666 31.3184 52.0693 30.1211 50.606 30.1211H46.389L43.9546 27.4606H35.9729ZM39.9637 47.4148C36.2921 47.4148 33.3123 44.435 33.3123 40.7634C33.3123 37.0918 36.2921 34.112 39.9637 34.112C43.6353 34.112 46.6152 37.0918 46.6152 40.7634C46.6152 44.435 43.6353 47.4148 39.9637 47.4148Z' fill='%23C2C9D1' fill-opacity='0.41'/%3E%3C/svg%3E%0A") no-repeat
  border-radius: 12px
  flex-shrink: 0
  overflow: hidden
  label
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    position: relative
    img
      width: 100%
      height: 100%
      object-fit: cover
      z-index: 1
  input
    width: 100%
    height: 100%
    visibility: hidden
    position: absolute

.room-name
  label
    height: 100%
    display: grid
    align-content: space-between
  .label,
  &>span
    margin-left: 16px
    font-size: 14px
    line-height: 1
    color: #000000





// popup

.popup-invite
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  bottom: -150%
  background: rgba(0, 0, 0, 0.12)
  opacity: 0
  visibility: none
  z-index: -9999
  transition: .5s
  &.open
    opacity: 1
    visibility: visible
    z-index: 9999
    transition: .2s
    .popup__box
      bottom: 0
  .popup__box
    width: 100%
    height: auto
    max-width: 377px
    max-height: 628px
    padding: 50px 25px
    background: #FFFFFF
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.01)
    border-radius: 30px 30px 0px 0px
    position: absolute
    left: 50%
    bottom: -100%
    transform: translateX(-50%)
    transition: .3s
    &::before
      content: ''
      position: absolute
      width: 42px
      height: 6px
      left: 50%
      top: 20px
      transform: translateX(-50%)
      background: #F5F5F5
      border-radius: 40px
  .popup__content
    display: grid
    justify-items: center
  .title
    font-size: 26px
    font-weight: bold
    line-height: 1.3
    text-align: center
    color: #000000
  .qr-code
    width: 100%
    height: 100%
    max-width: 240px
    max-height: 240px
    padding: 16px
    margin: 12px 0
    display: flex
    align-items: center
    justify-content: center
    background: url("data:image/svg+xml,%3Csvg width='240' height='240' viewBox='0 0 240 240' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_211_8948)'%3E%3Cpath d='M4.49891 54.2324C4.49891 41.6643 4.49891 28.924 4.49891 16.3558C4.49891 12.9125 5.01802 9.46916 7.44051 6.71449C10.2091 3.6155 13.8428 2.41033 17.8226 2.41033C24.744 2.41033 31.6655 2.41033 38.5869 2.41033C44.9892 2.41033 51.3915 2.41033 57.9668 2.41033C59.5241 2.41033 59.5241 0 57.9668 0C44.8161 0 31.6655 0 18.3417 0C14.881 0 11.7664 0.516499 8.82479 2.41033C4.67195 5.16499 2.24945 9.81349 2.07642 14.8063C1.90338 21.0043 2.07642 27.2023 2.07642 33.5725C2.07642 40.4591 2.07642 47.3458 2.07642 54.2324C2.07642 55.7819 4.49891 55.7819 4.49891 54.2324Z' fill='%234276FF'/%3E%3Cpath d='M54.5061 237.59C41.8745 237.59 29.0699 237.59 16.4384 237.59C12.9776 237.59 9.51694 237.073 6.74838 234.663C3.63374 231.908 2.42249 228.293 2.42249 224.333C2.42249 217.446 2.42249 210.56 2.42249 203.673C2.42249 197.303 2.42249 190.933 2.42249 184.39C2.42249 182.841 0 182.841 0 184.39C0 197.475 0 210.56 0 223.816C0 227.26 0.519106 230.359 2.42249 233.285C5.19106 237.59 9.86301 239.828 14.881 240C21.1103 240.172 27.3396 240 33.7419 240C40.6633 240 47.5847 240 54.5061 240C56.0634 240 56.0634 237.59 54.5061 237.59Z' fill='%234276FF'/%3E%3Cpath d='M237.578 184.046C237.578 196.614 237.578 209.354 237.578 221.922C237.578 225.366 237.058 228.809 234.636 231.564C231.867 234.663 228.234 235.868 224.254 235.868C217.332 235.868 210.411 235.868 203.49 235.868C197.087 235.868 190.685 235.868 184.11 235.868C182.552 235.868 182.552 238.278 184.11 238.278C197.26 238.278 210.411 238.278 223.735 238.278C227.195 238.278 230.31 237.762 233.252 235.868C237.578 233.113 239.827 228.465 240 223.472C240.173 217.274 240 211.076 240 204.706C240 197.819 240 190.932 240 184.046C240 182.496 237.578 182.496 237.578 184.046Z' fill='%234276FF'/%3E%3Cpath d='M184.802 2.41031C197.433 2.41031 210.238 2.41031 222.87 2.41031C226.33 2.41031 229.791 2.92681 232.56 5.33714C235.674 8.0918 236.885 11.7073 236.885 15.6671C236.885 22.5538 236.885 29.4404 236.885 36.3271C236.885 42.6973 236.885 49.0674 236.885 55.6097C236.885 57.1592 239.308 57.1592 239.308 55.6097C239.308 42.5251 239.308 29.4404 239.308 16.1836C239.308 12.7403 238.789 9.6413 236.885 6.71447C234.117 2.41031 229.445 0.172147 224.427 -1.9665e-05C218.198 -0.172186 211.968 -1.9665e-05 205.566 -1.9665e-05C198.645 -1.9665e-05 191.723 -1.9665e-05 184.802 -1.9665e-05C183.244 -1.9665e-05 183.244 2.41031 184.802 2.41031Z' fill='%234276FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_211_8948'%3E%3Crect width='240' height='240' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat

  .qr-container
    width: 100%
    height: 100%
    max-width: 207px
    height: 207px
    svg
      width: 100%
      height: 100%

  .subtitle
    margin-bottom: 8px
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    text-align: center
    color: #000000
  .description
    width: 60%
    margin: 0
    text-align: center
    font-size: 10px
    line-height: 1.5
    text-align: center
    color: #71717B

  .share-links
    width: 100%
    margin: 20px 0 29px
    display: flex
    align-items: center
    justify-content: space-between
    gap: 10px
    .share-links-btn
      width: auto
      height: auto
      max-width: 154px
      min-height: 68px
      flex-basis: 154px
      padding: 11px
      padding-left: 71px
      display: flex
      align-items: center
      text-align: left
      font-weight: 600
      font-size: 18px
      color: #000
      background: #f5f5f5
      border-radius: 12px
      position: relative
      svg
        width: 46px
        height: 46px
        position: absolute
        top: 50%
        left: 11px
        transform: translateY(-50%)
        rect, 
        path
          transition: .3s
    .share
      svg rect
        fill: #8B9CCB
      &:hover
        svg rect
          fill: #3F5182
    .invite-link
      svg path:first-child
        fill: #FFAD80
      &:hover
        svg path:first-child
          fill: #FD9357

  .btn